body {
  font-family: Helvetica;
}

@import 'tags';
@import 'mix';
@import 'mix_player';
@import 'hometop';
@import 'navbar';
@import 'mix_list';
@import 'footer';

#root {
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.app {
  max-width: 100vw;
}
#mix-row {
  margin-left: 0px;
  margin-right: 0px;
}

